:root {
	--header-title-spacing: 2px;
	--site-hard-blue: #455873;
	--site-slight-grey: #e6e8eb;
	--site-white: #f7f7f7;
	--site-black: #353535;
	--site-title: #d9d9d9;
	--background-white-opacity: rgba(255, 255, 255, 0.5);
	--site-harden-bg: rgba(0, 0, 0, 0.05);
	--user-profile-color: #455873;
	--main-accent-opacity: rgba(29,53,87, 0.7); /* preferably the rgba of main context color*/
}

@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: 100%;
  }
}

html {
  font-size: 1em !important;
  color: #000 !important;
  font-family: "Quicksand", sans-serif !important;
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  background-image: linear-gradient(#e5e5e5, #e5e5e5, #7a8697);
}

#wrapper {
  width: 1150px;
  margin: 0px auto 0px;
  padding: 20px 30px;
  border-left: 45px solid var(--site-black);
/*   	border-right: 45px solid var(--site-black); */
  background-color: #e5e5e5;
  box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #463f3a;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
	color: var(--site-hard-blue);
	text-decoration: none; 
	cursor: pointer;
}

b {
  color: var(--site-hard-blue);
}

#skin_selector {
  display: none;
}

.display-none {
  display: none;
  animation: fadeOut 5s;
}

.display-grid {
  display: grid;
  animation: fadeIn 0.5s;
}

.flex-left-right {
	display: flex;
    justify-content: space-between;
	align-items: center;
}

.initial-menu-display {
  display: grid;
}

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-title {
  background: var(--site-hard-blue);
  border-bottom: 15px solid #353535;
  color: var(--site-slight-grey);
  height: 160px;
  letter-spacing: var(--header-title-spacing);
  font-size: 80px;
  font-style: italic;
  font-family: "Playfair Display", serif;
  cursor: pointer;
}

.header {
  display: flex;
  flex-flow: column wrap;
  height: 600px;
  border: 1px solid silver;
  justify-content: space-between;
  background-color: var(--site-white);
}

.header-box {
  flex: 1;
  border: 1px solid silver;
  background-color: var(--site-white);
  margin: 15px;
  border-left: 15px solid var(--site-black);
  text-align: center;
  width: calc(30% - 45px);
}

.header-inner-box {
  background-color: var(--site-slight-grey);
  margin: 10px;
  width: 100%;
  height: calc(100% - 20px);
}

.header-notice {
  margin: 10px;
  overflow: auto;
  text-align: justify;
  height: 235px;
  padding-right: 10px;
  text-align: justify;
  font-size: 16px;
}

.header-logo-pic {
  height: 100%;
  border: 1px solid silver;
  background-color: var(--site-white);
  width: 68%;
  margin: 15px 15px 15px 0px;
}

.header-pic {
  margin: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 21px);
  background-image: url("https://i.imgur.com/ljENAgd.png");
  background-size: cover;
}

.roundUser {
  margin: 15px auto;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  background-size: cover;
}

/** header info bar **/

.header-menu {
  border: 1px solid silver;
  margin: 20px 0px;
  background-color: var(--site-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7.5px;
  height: calc(400px - 30px);
}

.menu-box {
  border: 1px solid silver;
  margin: 7.5px;
}

.header-quicklinks {
  width: 15.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--site-slight-grey);
  padding: 10px;
}

.header-links {
  height: 100%;
  margin: 2.5px;
  border: 1px solid silver;
  background-color: var(--site-white);
  color: var(--site-hard-blue);
  font-weight: 800;
  font-family: "Playfair Display", serif;
  border-right: 7.5px solid var(--site-black);
  transition-duration: 0.5s;
  cursor: pointer;
}

.header-links:hover {
  border-right: 30px solid var(--site-black);
}

.header-mood-staff {
	background-color: var(--site-slight-grey);
	width: 41%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header-mood-staff-1 {
  margin: 10px;
  padding: 10px;
  height: 100%;
  border: 1px solid silver;
  background-color: var(--site-white);
  width: calc(100% - 42px);
}

.header-mood-staff-1:first-child {
	margin-bottom: 0px;
}

.header-news-event {
  background-color: var(--site-slight-grey);
  width: 41%;
  display: flex;
  flex-direction:row;
}

.header-news-event-1 {
  margin: 10px;
  padding: 10px;
  border: 1px solid silver;
  background-color: var(--site-white);
  width: 50%;
  overflow: hidden;
}

.header-news-event-1:first-child {
	margin-right: 0px;
}

.news-section div {
  background-color: var(--site-slight-grey);
}

.header-news-event-1 div {
  height: calc(100% - 10px);
  overflow: auto;
  padding: 2.5px;
  text-align: justify;
  font-size: 15px;
  padding: 5px;
}
.site-mood-pic-1 {
  background-image: url("https://i.imgur.com/iNM8Egm.png");
  background-size: cover;
  border: 1px solid silver;
}

.site-event-pic {
  background-image: url("https://i.imgur.com/iNM8Egm.png");
  background-size: cover;
  background-blend-mode: luminosity;
  transition-duration: 0.5s;
}

.site-event-pic div {
  padding: 10px;
  padding-bottom: 15px;
  margin: 10px 10px 10px 13.5px;
  opacity: 0;
  max-height: calc(100% - 50px);
  width: calc(100% - 25px);
  transition-duration: 0.5s;
  overflow-y: hidden;
  background-color: rgba(255, 255, 255, 0.8);
}

.event-off {
	/*configure: event off color*/
    background-color: black;
}

.event-off div {
  display: none;
}

.event-on:hover div {
  opacity: 1;
}

.staff-corner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  overflow-x: auto;
}

.staff-icon {
  flex: 1;
  height: 100%;
  font-weight: 300;
  color: transparent;
  cursor: pointer;
}

.staff-icon:hover {
  color: white;
  text-shadow: 3px 3px var(--site-hard-blue);
}

.staff-icon-1 {
  background-size: cover;
  height: 100%;
  width: 100%;
  background-color: var(--site-hard-blue);
  background-blend-mode: luminosity;
  transition-duration: 0.5s;
}

.staff-icon-1:hover {
  background-color: transparent;
  background-blend-mode: none;
}

/** end header info bar **/

.boardRows {
  display: grid;
  grid-gap: 20px;
}

.category {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  padding: 30px;
  padding-bottom: 20px;
  background-color: #f7f7f7;
  border: 1px solid silver;
}

.categoryPicture {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background-position: top center;
  background-size: cover;
  margin-bottom: 20px;
  grid-column-start: 1;
  grid-column-end: 2;
  background-clip: content-box;
  padding: 10px;
  border: 1px solid silver;
}

.categoryTitle {
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
  border-bottom: 15px solid var(--site-black);
  background: var(--site-hard-blue);
  color: var(--site-title);
  height: 120px;
  font-family: "Playfair Display", serif;
  font-style: italic;
}

.board {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-gap: 0px 20px;
    margin-top: 10px;
}

.board:first-child {
	margin-top: 0px;
}

.board-middle {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boardTitle {
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 5px;
  border-bottom: 5px solid black;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 40px;
	display: flex;
	justify-content: space-between;
}

.last-post-pic { 
    background-color: var(--site-white);
	border: 1px solid silver;
	padding: 5px;
	width: 45px;
	height: 45px;
}

.last-post-pic div {
	background-image: url("https://i.imgur.com/Dxu9XRr.jpg");
	width: 100%; 
	height: 100%;
	background-size: cover;
}

.board-minipic {
  margin: 20px 0px;
  background-position: top center;
  background-size: cover;
  transition: 1s;
  background-clip: content-box;
  padding: 7.5px;
  border: 1px solid silver;
  width: 45%;
  margin-left: 15px;
  height: calc(100% - 60px);
  transition-duration: 0.5s;
}

.outerBoardDescription {
  grid-row-start: 2;
  grid-row-end: 3;
  height: 100px;
  background: var(--site-harden-bg);
  margin: 20px auto;
  width: 50%;
  padding: 10px;
  border-left: 10px solid var(--site-black);
}

.boardDescription {
  text-align: justify;
  overflow: auto;
  height: 100px;
  padding: 0px 5px;
}

.lastPost {
	display: flex;
	width: 745px;
	height: 40px;
	grid-column-start:1;
	grid-column-end: 3;
  font-weight: 500;
}

.last-post-stat {
	width: 30%;
	display: flex;
}

.last-post-stat div {
	margin: 0px 2.5px;
	background-color: var(--site-hard-blue);
	padding: 5px 10px;
	color: var(--site-white);  
	font-size: 18px;
}

.last-post-links {
	width: 70%;
	display: flex; 
	align-items: center;
	justify-content: flex-end;
	font-size: 21px;
	border-bottom: 5px solid transparent;
}

/*
CONFIGURATIONS
*/

#categoryTitle-1 {
  margin-top: 20px;
}

#board-minipic-1 {
  background-image: url("https://i.imgur.com/BLEpdxy.jpg");
}

#board-minipic-2 {
  background-image: url("https://i.imgur.com/63G97Cb.jpg");
}

#board-minipic-3 {
  background-image: url("https://i.imgur.com/IwwyAI6.jpg");
}

#categoryPicture-1 {
  background-image: url("https://i.imgur.com/zPie2Fs.jpg");
}

#categoryPicture-2 {
  background-image: url("https://i.imgur.com/lUkALSm.jpg");
}

#categoryPicture-3 {
  background-image: url("https://i.imgur.com/wGj9Car.jpg");
}

.stat-title {
  color: var(--site-title);
  background: var(--site-hard-blue);
  border-bottom: 15px solid var(--site-black);
  font-size: 50px;
  text-align: RIGHT;
  padding: 20px;
  padding-top: 20px;
  height: 70px;
  margin-top: 20px;
  font-family: "Playfair Display", serif;
  font-style: italic;
}

.stat-board {
  background: var(--site-white);
  border: 1px solid silver;
  padding: 15px;
  display: flex;
  flex-direction: row;
}

.left-stat {
  border: 1px solid silver;
  border-left: 10px solid var(--site-black);
  margin: 10px;
  width: 35%;
  height: 350px;
}

.recent-topic {
  background-color: var(--site-slight-grey);
  margin: 10px;
  padding: 10px;
  height: calc(100% - 43px);
  width: calc(100% - 45px);
  border: 1px solid silver;
}

.right-stat {
  border: 1px solid silver;
  margin: 10px;
  width: 70%;
  height: 350px;
  display: flex;
}

.right-stat-1 {
  width: 80%;
  border: 1px solid silver;
  margin: 10px;
  margin-right: 5px;
  height: calc(100% - 43px);
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  background-color: var(--site-slight-grey);
  padding: 10px;
}

.right-stat-2 {
  margin: 10px 10px 10px 10px;
  width: calc(25% - 40px);
  padding: 30px 0px;
  background-color: var(--site-black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.stat-content {
  height: 20%;
  width: 50%;
}

.stat-param {
  position: absolute;
  z-index: 1;
  color: silver;
  font-size: 30px;
  opacity: 1;
  transition-duration: 0.5s;
}

.stat-val {
  position: absolute;
  opacity: 0;
  font-size: 30px;
  color: var(--site-white);
  transition-duration: 0.5s;
}

.stat-content:hover .stat-param {
  opacity: 0;
}
.stat-content:hover .stat-val {
  opacity: 1;
}

.welcome-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5px;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 10px;
  padding-bottom: 10px;
}

.welcome-text-text {
  font-family: "Playfair Display", sans-serif;
  font-weight: 100;
  font-style: italic;
  color: var(--site-hard-blue);
  font-size: 25px;
}

.welcome-pic {
  border: 1px solid silver;
}

.welcome-pic-container {
  padding: 5px;
  background-color: var(--site-white);
}

.welcome-pic-pic {
  background-image: url("https://i.imgur.com/Dxu9XRr.jpg");
  width: 75px;
  height: 75px;
  background-size: cover;
}

.stat-lower-left {
  flex-grow: 4;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.stat-lower-right {
  flex-grow: 1;
}

.newbie-pic-container {
  padding: 5px;
  background-color: var(--site-white);
  width: 125px;
  height: 125px;
  border: 1px solid silver;
}

.newbie-pic {
  background-image: url("https://i.imgur.com/Dxu9XRr.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.online-list {
  height: 44.5%;
  font-size: 25px;
  overflow-y: auto;
  border-bottom: 1px solid SILVER;
  text-transform: lowercase;
  font-family: "Playfair Display", sans-serif;
  font-weight: 100;
  color: grey;
}


.online-today {
  margin: 5px;
  margin-right: 15px;
  padding: 5px;
  padding-top: 5px;
  overflow-y: auto;
  height: 40px;
  text-transform: lowercase;
  background-color: var(--site-slight-grey);
  width: calc(100% - 25px);
  border: 1px solid silver;
}

.recent-topic-1 {
  margin: 5px 0px;
  padding: 0px 0px 10px 0px;
  height: calc(100% - 20px);
  width: calc(100% - 10px);
  overflow-y: auto;
}

.recent-topic-content {
  border-bottom: 1px dotted grey;
  margin: 5px 10px 10px 10px;
  padding: 0px 5px 10px 5px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.recent-topic-content:last-child {
  margin-bottom: 0px;
}

.recent-topic-title {
  font-family: "Merriweather", serif;
  font-size: 18px;
  letter-spacing: -1px;
  text-transform: lowercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recent-topic-author {
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 13px;
}

.stat-board-footer {
  width: 100%;
  background-color: var(--site-black);
  height: 100px;
  display: flex;
  justify-content: flex-start;
}

.stat-footer-icon {
  color: silver;
  text-align: center;
  width: 50px;
  margin: 0px 10px;
  height: 45px;
  padding: 10px;
  padding-top: 15px;
}

.stat-footer-icon:hover,
.online-toggle:hover,
.infobar-button:hover {
  cursor: pointer;
  color: var(--site-white);
}

.credits {
  margin-top: 20px;
  text-align: center;
}

/* 

EXPEIRMENT STARTS HERE

*/

#bubble-menu {
  position: fixed;
  bottom: 20px;
  right: 0px;
  left: 20px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: var(--nav-button-color);
  transition-duration: 0.8s;
  transition-delay: 0.5s;
}

#bubble-menu.clicked {
  height: 450px;
  border-radius: 75px;
  transition-delay: 0s;
}

.bubble-menu-pic {
  width: 100%;
  border-radius: 50%;
}

#bubble-tray {
  text-align: center;
  margin-top: 15px;
  display: none;
}

#bubble-tray a {
  color: #d9d9d9;
}

#change-subaccount .forminput {
  margin: auto;
  border: transparent;
  box-shadow: none;
  background: transparent;
  font-family: "Quicksand", sans-serif !important;
}

#change-subaccount .forminput select {
  text-align-last: center;
  width: 200px;
  font-family: "Quicksand", sans-serif !important;
  margin: auto;
  background-color: transparent;
  padding: 5px;
  font-size: 15px;
  border: transparent;
  border-bottom: 3px solid silver;
  -webkit-appearance: none;
  letter-spacing: 2px;
}

#change-subaccount .forminput select:focus {
  outline-color: silver;
  outline-width: 0;
}

#change-subaccount .forminput select:hover {
  cursor: pointer;
}

/*******************************************************************************
	COMMON UI
*******************************************************************************/

#ucpmenu {
  line-height: 150%;
  width: 22%;
  border: 1px solid #555;
  background-color: #efefef;
}

#ucpmenu p {
  padding: 2px 5px 6px 9px;
  margin: 0px;
}

#ucpcontent {
  background-color: #efefef;
  border: 1px solid #545454;
  line-height: 150%;
  width: auto;
}

#ucpcontent p {
  padding: 10px;
  margin: 0px;
}

/****************************************
  Table & Div Borders 
*****************************************/

.postlinksbar {
	display: none;
	margin-bottom: 20px;
}

.postlinksbar strong {
	font-weight: 100;
	color: var(--site-hard-blue);
}

.tableborder {
/* 	background-color: var(--site-white); */
/* 	border: 1px solid silver; */
/* 	padding: 10px;
	padding-bottom: 5px; */
	margin: 0;
}

.tablefill {
  background-color: #efefef;
  border: 1px solid #555;
  padding: 6px;
}

.tablepad {
  background-color: #efefef;
  padding: 6px;
}

.tablebasic {
  width: 100%;
  padding: 0;
  margin: 0px;
  border: 0px;
}

/****************************************
   Top table bars / gradient holders 
*****************************************/

.topic-title-space {
	display: none;
}

.topic-title {
	font-family: "Quicksand", serif;
	font-weight: 300;
	font-size: 30px;
	justify-content: space-between;
	color: black;
}

.maintitle {
	padding: 2px 0px;
	border-bottom: 5px solid black;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.maintitle a:link,
.maintitle a:visited,
.maintitle a:active {
  text-decoration: none;
  color: #fff !important;
}

.maintitle a:hover {
  text-decoration: underline;
}

.plainborder {
  border: 1px solid #555;
  background-color: #efefef;
}

.pformstrip {
  background-image: url(http://files.b1.jcink.com/themes/default/gray-gradient.png);
  background-color: #d6d6d6;
  color: black;
  font-weight: bold;
  padding: 2px 5px;
  margin-top: 1px;
}

.pformleft {
  background-color: #efefef;
  padding: 6px;
  margin-top: 1px;
  width: 25%;
  border-top: 1px solid #545454;
  border-right: 1px solid #545454;
}

.pformleftw {
  background-color: #efefef;
  padding: 6px;
  margin-top: 1px;
  width: 40%;
  border-top: 1px solid #232323;
  border-right: 1px solid #232323;
}

.pformright {
  background-color: #efefef;
  padding: 6px;
  margin-top: 1px;
  border-top: 1px solid #232323;
}

.row1,
.row3,
.row2 {
  background-color: #efefef;
  padding: 5px;
}

#boardstats .row2 {
  text-align: center;
}

.darkrow1 {
  background-color: #d6d6d6;
  color: black;
}

.darkrow2 {
  background-color: #d6d6d6;
  color: black;
}

td.darkrow2 {
  display: none;
}

.darkrow3 {
  background-color: #d6d6d6;
  color: #000;
  padding: 3px;
}

.hlight {
  background-color: #efefef;
}
.dlight {
  background-color: #efefef;
}

#logostrip {
  display: none;
}

.newstext {
  display: none;
}

/* BUTTONS A'HOY */

.button-large {
	text-align: center;
	margin:0px 5px 0px 5px;
	min-width: 75px;
	display: inline-block;
	color: var(--site-white);
	transition-duration: 0.5s;
	background-color: var(--site-hard-blue);
	padding: 10px 20px;
	font-family: "Oswald", sans-serif;
	letter-spacing: 2px;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 20px;
}

.button-small {
	background-color: var(--site-hard-blue);
  color: var(--site-white);
  font-weight: 300;
  font-size: 11px;
  margin: 0px 5px;
  padding: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  min-width: 50px;
  max-width: 80px;
	text-transform: uppercase;
	font-family: "Oswald", sans-serif;
	text-align: center;
	letter-spacing: 1px;
}

.post-buttons-top {
  margin-top: 3px;
}

.button-large.closed {
  background: url(http://files.b1.jcink.com/themes/default/white-gradient.png);
  padding: 7px 12px;
  text-align: center;
  margin: 0px 5px 0px 5px;
  border: 1px solid #d8d8d8;
  color: #660000;
  font-weight: bold;
}

.codebuttons,
.textinput,
.radiobutton,
.checkbox {
  border-radius: 2px;
  background: #fff;
  border: 1px solid #545454;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 12px;
  padding: 2px;
  vertical-align: middle;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset;
}

.activeuserstrip, .activeuserstrip + .row2 {
	display: none;
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
  background: #800000
    url(http://files.b1.jcink.com/themes/default/red-gradient.png);
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
  margin: 3px;
  padding: 2px 6px;
  text-decoration: none;
  border: none;
}

.codebuttons {
  font-size: 10px;
}
/* // if('<!-- |g_id| -->' || "2" == '2') 

// m-4 staff?
// m-3 normal member
// m-2 guest */

/*T_T AHHHHHHHHHHHHHHHHHHHHHHH */

.profile-border {
  padding: 15px;
  background-color: #f7f7f7;
  border: 1px solid silver;
	
}

.profile-border-1 {
  background-color: var(--site-slight-grey);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
	background-image: url('https://i.redd.it/odhv7fom1wy61.jpg');
	background-repeat: no-repeat;
	background-blend-mode: screen;
	background-size: cover;
	border: 1px solid silver;
	border-bottom: 0px;
	
}

.profile-area {
  display: flex;
  flex-direction: row;
  margin: 10px;
  font-size: 15px;
}

.profile-name-large {
  font-size: 50px;
  text-align: center;
  padding: 25px;
  border-bottom: 15px solid var(--site-black);
  background: var(--user-profile-color);
  color: var(--site-white);
  height: 70px;
  font-family: "Playfair Display", serif;
  width: calc(100%);
  text-transform: lowercase;
	width: calc(100% - 48px);
}

.profile-picture-large {
  height: 600px;
  width: 400px;
  border: 1px solid silver;
  background-image: url("https://i.redd.it/odhv7fom1wy61.jpg");
  background-size: cover;
  border: 10px solid var(--user-profile-color);
  padding: 15px;
  margin: 10px;
}

.profile-picture-border {
  border: 1px solid silver;
  margin-left: 15px;
}

.profile-picture-medium {
  border: 10px solid var(--user-profile-color);
  width: 600px;
  height: 100px;
  background-image: url("https://i.imgur.com/GQSEYku.png");
  background-size: cover;
}

.profile-member {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.profile-bar {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.profile-bio-area {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 10px;
  width: calc(100% - 420px);
}

.profile-box {
  margin: 0px 20px;
  width: 230px;
  padding: 20px;
}

.box-attr {
  color: var(--site-title);
  font-family: "Playfair Display", serif;
  margin: 10px 5px;
}

.box-attr span {
  background-color: var(--user-profile-color);
  padding: 10px 20px;
  font-family: "Oswald", sans-serif;
}

.box-value {
  border-bottom: 1px solid black;
  padding: 10px 5px;
}

.member-name {
  font-size: 25px;
  margin: 10px;
}

.profile-icons {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: calc(100% - 20px);
  margin-left: 20px;
  color: var(--user-profile-color);
  border-bottom: 2px solid silver;
  padding-bottom: 10px;
}

.lower-profile {
  height: 500px;
  border: 1px solid silver;
  margin: 15px;
  width: 100%;
  padding: 15px 20px;
  padding-right: 0px;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
}

.freeform-app {
  flex: 3;
  padding-right: 15px;
  overflow-y: auto;
	text-align: justify;
}

.freeform-app::-webkit-scrollbar-track {
  background: transparent;
}

.freeform-app::-webkit-scrollbar-thumb {
  background: var(--user-profile-color);
}

.member-info {
  flex: 1;
  border-left: 1px solid silver;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px;
	height: calc(100% - 40px);
	overflow-y: auto;
}

.info-title {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  padding: 10px 20px;
  color: var(--site-white);
  margin: 20px 0px;
}

.info-title span {
  padding: 10px;
  background-color: var(--user-profile-color);
}

.freeform-app blockquote {
	border: 2.5px solid var(--user-profile-color);
	padding: 5px;
	border-left: 10px solid var(--user-profile-color);
    margin-top: 10px;
}

.freeform-app h1 {
	border-bottom: 5px solid var(--user-profile-color);
	font-family: "Merriweather", serif;
	font-weight: 300;
	font-size: 40px;
	letter-spacing: -1px;
	margin: 10px auto;
	text-transform: uppercase;
/*   color: var(--user-profile-color); */
}

.freeform-app h2 {
	font-family: "Merriweather", serif;
	color: var(--site-black);
	display: block;
	margin: 10px auto;
	font-weight: 400;
	letter-spacing: -1px;
  color: var(--user-profile-color);
}

.freeform-app h3 {
	font-family: "Merriweather", serif;
	color: var(--site-black);
	display: block;
	margin: 10px auto;
	font-style: italic;
	font-weight: 800;
	letter-spacing: -1.5px;
  color: var(--user-profile-color);
}

.freeform-app h4 {
	font-family: "Merriweather", serif;
	color: var(--user-profile-color);
	display: inline-block;
	border: 2px solid var(--user-profile-color);
	padding: 3px 5px;
	font-size: 15px;
	text-transform: uppercase;
	margin: 5px 2px;
}

.freeform-app h5 {
	font-family: "Merriweather", serif;
	color: var(--site-white);
	display: inline-block;
	border: 2px solid var(--user-profile-color);
	padding: 3px 5px;
	font-size: 15px;
	text-transform: uppercase;
	margin: 5px 2px;
	background: var(--user-profile-color);
	letter-spacing: 2px;
}

.freeform-app p {
	margin: 10px 20px;
}


.freeform-app b {
	font-family: "Merriweather", serif;
	color: var(--user-profile-color);
	font-weight: 800;
	letter-spacing: 1px;
}

.freeform-app span {
	color: var(--user-profile-color);
	font-weight: 100;
}

.freeform-app i {
	font-family: "Merriweather", serif;
	color: var(--user-profile-color);
	font-size: 17px;
	font-weight: 500;
}

.user-misc-info {
	background-color: var(--user-profile-color);
	padding: 5px 5px;
	color: var(--site-white);
	margin: 5px 10px 5px;
	font-size: 15px;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 2px;
	border: 3px solid var(--site-white);
}

/* THREAD - POST - AREA */
.user-bar {
	font-size: 12px;
	border-bottom: 15px solid var(--site-black);
	background: var(--site-hard-blue);
	color: var(--site-white);
	height: 125px;
	font-family: "Playfair Display", sans-serif;
	text-transform: lowercase;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 20px;
}

.userbar-name { 
	font-size: 50px;
	font-weight: 600; 
	font-style: italic;
}

.post-border {
  padding: 15px;
  background-color: #f7f7f7;
  border: 1px solid silver;
	
}

.post-border-1 {
	background-color: var(--site-slight-grey);
/* 	border: 1px solid silver; */
	border-top: 0px;
	display: flex;
	flex-direction: column;
	margin: 20px 0px 0px;
}

.hover-panel {
	width: 30%;
	border: 1px solid silver;
	border-bottom: 0px;
}

.user-hover-container {
	border: 1px solid silver;
	padding: 10px; 
	margin: 10px;
	background: var(--site-white);
}

.user-picture-hover {
	position: relative;
	background: var(--main-accent-opacity);
	height: 100%;
	width: 100%;
	opacity: 0;
	transition-duration: 0.75s;
	transform: translate(0px, 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.post-user-picture {
	background-image: url("https://i.redd.it/odhv7fom1wy61.jpg");
	background-size: cover;
	height: 100%;
	height: 450px;
	min-width: 100%;
	overflow: hidden;
}

.post-user-picture:hover .user-picture-hover{
	opacity: 1;
	transform: translate(0px, 0%);
}

.post-cfield {
	width: calc(100% - 40px);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0px 30px 20px;
	padding: 0px 5px;
	color: var(--site-white);
	border-bottom: 2px solid var(--site-white);
}

.post-cfield-param {
	font-family: 'Oswald', sans-serif; 
	font-weight: 800;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.pair-quotes {
	margin-top: 30px;
	font-style: italic;
	font-family: "Playfair Display", serif;   
	color: var(--site-white);
	margin-bottom: 10px;
	text-align: center;
	font-size: 20px;
	width: 80%;
}

.post-panel {
	width: 70%;
	border-right:1px solid silver;
	padding: 10px 15px;
	font-size: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}

.post-panel b {
	font-weight: 600;
}

.post-panel i {
	color: var(--site-hard-blue);
	font-weight: 400;
}

.post-panel blockquote {
	text-align: justify;
	margin: 30px 70px;
}

.post-pic-container {
	opacity: 0.8;
	padding: 5px;
	background-color: var(--site-white);
}


.post-cp {
	border: 1px solid silver;
	background: var(--site-white);
}

.profile-cp {
/* 	border: 1px solid silver; */
	background: var(--user-profile-color);
	flex-flow: row wrap;
	padding: 10px 30px;
	width: calc(100% - 58px);
}

.post-membergroup {
	background-color: var(--site-white);
	padding: 5px 5px;
	color: var(--site-hard-blue);
	margin: 10px;
	font-size: 15px;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 2px;
	border: 3px solid var(--site-hard-blue);
}

.award-container{
	height: 125px; /*configure according to badge size*/
	width: calc(100% - 23px);
	border: 1px solid silver;
	margin: 10px;
	display: flex;
	flex-direction: column;
}

.award-title{
	border-bottom: 1px solid silver;
	height: 30px;
	width: 100%;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
	font-weight: 800;
	color: var(--site-hard-blue);
	background: var(--site-white);
	background-blend-mode: screen;
}

.award-box {
	height: 100%;
	width: 100%;
	overflow-y: auto;
	flex-flow: row wrap;
}

.award-size {
	width: 35px; 
	height: 35px;
/* 	border-radius: 100%; */
	margin: 5px 7.5px;
	background: var(--site-hard-blue);
}