:root {
	--header-title-spacing: 2px;
	--site-hard-blue: #455873;
	--site-slight-grey: #e6e8eb;
	--site-white: #f7f7f7;
	--site-black: #353535;
	--site-title: #d9d9d9;
	--nav-button-color: rgba(
		29,
		53,
		87,
		0.6
	); /* preferably the rgba of main context color*/
	--background-white-opacity: rgba(255, 255, 255, 0.5);
	--site-harden-bg: rgba(0, 0, 0, 0.05);
	/* 	--user-profile-color: #353535; */
	--user-profile-color: #455873;
}

@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: 100%;
  }
}

html {
  font-size: 1em !important;
  color: #000 !important;
  font-family: "Quicksand", sans-serif !important;
}

body {
/* 	background-color: #355070; */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	/* 	box-shadow: inset 0 0 0 100% rgba(255,255,0,.2);E9ECEF */
	margin: 0px;
	  background-image: linear-gradient(#e5e5e5, #e5e5e5, #7a8697);
}

#wrapper {
  /* 	padding: 30px 0px; CED4DA*/
  width: 1150px;
  margin: 0px auto 0px;
  padding: 20px 30px;
  border-left: 45px solid var(--site-black);
  /* 	border-right: 45px solid var(--site-black); */
  background-color: #e5e5e5;
  box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #463f3a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

a {
  color: black;
  text-decoration: none; /* no underline */
  cursor: pointer;
}

#skin_selector {
  display: none;
}

.display-none {
  display: none;
  animation: fadeOut 5s;
}

.display-grid {
  display: grid;
  animation: fadeIn 0.5s;
}

.initial-menu-display {
  display: grid;
}

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

b {
  color: var(--site-hard-blue);
}
welcome {
  font-size: 20px;
}

headerUser {
  font-size: 25px;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.site-title {
	background: var(--site-hard-blue);
	border-bottom: 15px solid #353535;
	color: var(--site-slight-grey); 
	height: 160px;
	letter-spacing: var(--header-title-spacing);
	font-size: 80px;
	font-style: italic;
	font-family: "Playfair Display", serif;
	cursor: pointer;
}

.header {
	display: flex;
	flex-flow: column wrap;
	height: 600px;
	border: 1px solid silver;
	justify-content: space-between;
	background-color: var(--site-white);
}

.header-box {
	flex: 1;
	border: 1px solid silver;
	background-color: var(--site-white);
	margin: 15px;
	border-left: 15px solid var(--site-black);
	text-align: center;
	width: calc(30% - 45px);
}

.header-inner-box {
/* 	border: 1px solid silver; */
	background-color: var(--site-slight-grey);
	margin: 10px;
	width: 100%;
	height: calc(100% - 20px);
}

.header-notice {
	margin: 10px;
	overflow: auto;
	text-align: justify;
	height: 235px;
	padding-right: 10px;
	text-align: justify;
	font-size: 16px;
}

.header-logo-pic {
	height: 100%;
	border: 1px solid silver;
	background-color: var(--site-white);
	width: 68%;
	margin: 15px 15px 15px 0px;
	
}

.header-pic {
	margin: 10px;
	width: calc(100% - 20px);
	height: calc(100% - 21px);
    background-image: url('https://i.imgur.com/ljENAgd.png');
	background-size: cover;
}

.roundUser {
	margin: 15px auto;
	border-radius: 100%;
	width: 120px;
	height: 120px;
	background-size: cover;
}

/** header info bar **/

.header-menu {
	border: 1px solid silver;
	margin: 20px 0px;
	background-color: var(--site-white);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 7.5px;
    height: calc(400px - 30px);
}

.menu-box {
	border: 1px solid silver;
    margin: 7.5px;
}

.header-quicklinks {
	width: 15.5%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: var(--site-slight-grey);
	padding: 10px;
}

.header-links {
	height: 100%;
	margin: 2.5px;
	border: 1px solid silver;
	background-color: var(--site-white);
	color: var(--site-hard-blue);
	font-weight: 800;
	font-family: "Playfair Display", serif;
	border-right: 7.5px solid var(--site-black);
    transition-duration: 0.5s;
	cursor: pointer;
}

.header-links:hover {
	border-right: 30px solid var(--site-black);
}

.header-mood-staff {
	background-color: var(--site-slight-grey);
	width: 41%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.header-mood-staff-1 {
	margin: 7.5px;
	padding: 10px;
	height: calc(44% - 20px);
	border: 1px solid silver;
	background-color: var(--site-white);
	width: 100%;
}

.header-news-event {
	background-color: var(--site-slight-grey);
	width: 41%;
	display: flex;
	flex-flow: column wrap;
}

.header-news-event-1 {
	margin: 7.5px;
	padding: 10px;
	height: 92.5%;
	border: 1px solid silver;
	background-color: var(--site-white);
	width: calc(47% - 21px);
	overflow: hidden;
}

.news-section div{ 
	background-color: var(--site-slight-grey);
}

.header-news-event-1 div{ 
	height: calc(100% - 10px);
	overflow: auto;
	padding: 2.5px;
	text-align: justify;
	font-size: 15px;
	padding: 5px;
}
.site-mood-pic-1 {
	background-image: url('https://i.imgur.com/iNM8Egm.png');
	background-size: cover;
	border: 1px solid silver;
	margin: 10px;
}

.site-event-pic {
	background-image: url('https://i.imgur.com/iNM8Egm.png');
	background-size: cover;
	background-blend-mode: luminosity;
	transition-duration: 0.5s;
}

.site-event-pic div {
	padding: 10px;
	padding-bottom: 15px;
	margin: 10px 10px 10px 13.5px;
	opacity: 0;
	max-height: calc(100% - 50px);
	width: calc(100% - 25px);
	transition-duration: 0.5s;
	overflow-y: hidden;
	background-color: rgba(255, 255, 255, 0.8);
}

.event-off {
	background-color: var(--site-hard-blue);
}

.event-off div {
	display: none;
	background-color: var(--site-hard-blue);
}

.event-off div {
	background-color: transparent;
}

.event-on:hover div {
	opacity: 1;
}

.staff-corner {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	overflow-x: auto;
}

.staff-icon {
	flex: 1;
	height: 100%;
	font-weight: 300;
	color: transparent;
/* 	transition-duration: 0.1s; */
	cursor: pointer;
}

.staff-icon:hover {
	color: white;
	text-shadow: 3px 3px var(--site-hard-blue);
}

.staff-icon-1 {
	background-size: cover;
	height: 100%;
	width: 100%;
	background-color: var(--site-hard-blue);
	background-blend-mode: luminosity;
	transition-duration: 0.5s;
}

.staff-icon-1:hover {
	background-color: transparent;
	background-blend-mode: none;
}

/** end header info bar **/

.stat-footer-icon:hover {
  cursor: pointer;
}

.boardRows {
  display: grid;
  grid-gap: 20px;
}

.category {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  padding: 30px;
  padding-bottom: 20px;
  background-color: #f7f7f7;
  border: 1px solid silver;
}

.categoryPicture {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  /* 	background-repeat: no-repeat; */
  background-position: top center;
  background-size: cover;
  /* 	background-attachment: fixed; */
  margin-bottom: 20px;
  grid-column-start: 1;
  grid-column-end: 2;
  background-clip: content-box;
  padding: 10px;
  border: 1px solid silver;
}


.categoryTitle {
	font-size: 50px;
	text-align: center;
	margin-top: 20px;
	border-bottom: 15px solid var(--site-black);
	background: var(--site-hard-blue);
	color: var(--site-title);
	height: 120px;
	font-family: "Playfair Display", serif;
	font-style: italic;
}

.board {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-gap: 0px 20px;
}

.board-middle {
	grid-column-start: 1;
	grid-column-end: 4;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.boardTitle {
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 5px;
  border-bottom: 5px solid black;
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 40px;
}

.board-minipic {
	margin: 20px 0px;
	background-position: top center;
	background-size: cover;
	transition: 1s;
	background-clip: content-box;
	padding: 7.5px;
	border: 1px solid silver;
	width: 45%;
	margin-left: 15px;
	height: calc(100% - 60px);
	transition-duration: 0.5s;
}


.outerBoardDescription {
  grid-row-start: 2;
  grid-row-end: 3;
  height: 100px;
  background: var(--site-harden-bg);
  margin: 20px auto;
  width: 50%;
  padding: 10px;
	border-left: 10px solid var(--site-black);
}

.boardDescription {
  text-align: justify;
  overflow: auto;
  height: 100px;
  padding: 0px 5px;
}

.lastPost {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-template-columns: 100px 100px auto;
  grid-template-rows: auto;
  display: grid;
  font-size: 18px;
	font-weight: 500;
}

.boardGrid {
  border: 1px solid silver;
  padding: 5px;
  background: rgba(255, 255, 255, 0.7);
}

/*
CONFIGURATIONS
*/

#categoryTitle-1 {
  margin-top: 20px;
}

#board-minipic-1 {
  background-image: url("https://i.imgur.com/BLEpdxy.jpg");
}

#board-minipic-2 {
  background-image: url("https://i.imgur.com/63G97Cb.jpg");
}

#board-minipic-3 {
  background-image: url("https://i.imgur.com/IwwyAI6.jpg");
}

#categoryPicture-1 {
  background-image: url("https://i.imgur.com/zPie2Fs.jpg");
}

#categoryPicture-2 {
  background-image: url("https://i.imgur.com/lUkALSm.jpg");
}

#categoryPicture-3 {
  background-image: url("https://i.imgur.com/wGj9Car.jpg");
}

.stat-title {
	color: var(--site-title);
	background: var(--site-hard-blue);
	border-bottom: 15px solid var(--site-black);
	font-size: 50px;
	text-align: RIGHT;
	padding: 20px;
	padding-top: 20px;
	height: 70px;
	font-family: "Anton", sans-serif;
	margin-top: 20px;
	font-family: "Playfair Display", serif;
	font-style: italic;
}

.stat-board {
	background: var(--site-white);
	border: 1px solid silver;
	padding: 15px;
    display: flex;
	flex-direction: row;
}

.left-stat {
	border: 1px solid silver;
	border-left: 10px solid var(--site-black);
	margin: 10px;
	width: 35%;
	height: 350px;
}

.recent-topic {
	background-color: var(--site-slight-grey);
	margin: 10px;
	padding: 10px;
	height: calc(100% - 43px);
	width: calc(100% - 45px);
	border: 1px solid silver;
}

.right-stat {
	border: 1px solid silver;
	margin: 10px;
	width: 70%;
	height: 350px;
	display: flex;
}

.right-stat-1 {
	width: 80%;
	border: 1px solid silver;
	margin: 10px;
	margin-right: 5px;
	height: calc(100% - 43px);
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	background-color: var(--site-slight-grey);
	padding: 10px;
}

.right-stat-2 {
	margin: 10px 10px 10px 10px;
	width: calc(25% - 40px);
	padding: 30px 0px;
	background-color: var(--site-black);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.stat-content{
	height: 20%;
	width: 50%;
}

.stat-param {
	position: absolute;
	z-index: 1;
	color: silver;
	font-size: 30px;
	opacity: 1;
	transition-duration: 0.5s;
}


.stat-val {	
	position: absolute;
	opacity: 0;
	font-size: 30px;
	color: var(--site-white);
	transition-duration: 0.5s;
}

.stat-content:hover .stat-param {
	opacity: 0;
}
.stat-content:hover .stat-val {
	opacity: 1;
}



.welcome-area {
	display: flex;
	flex-direction: row;
	justify-content: center;
/* 	border: 1px solid silver; */
	padding-top: 5px;
}

.welcome-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding-right: 10px;
	padding-bottom: 10px;
}

.welcome-text-text {
	font-family: 'Playfair Display', sans-serif;
	font-weight: 100;
	font-style: italic;
	color: var(--site-hard-blue);
	font-size: 25px;
}


.welcome-pic {
	border: 1px solid silver;
	
}

.welcome-pic-container {
	padding: 5px;
	background-color: var(--site-white);
}

.welcome-pic-pic {
	background-image: url('https://i.imgur.com/Dxu9XRr.jpg');           width: 75px; 
	height: 75px; 
	background-size: cover
}

.stat-lower-left {
    flex-grow: 4; 
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
}

.stat-lower-right {
    flex-grow: 1;
}

.newbie-pic-container {
	padding: 5px;
	background-color: var(--site-white);
	width: 125px;
	height: 125px;
	border: 1px solid silver;
}

.newbie-pic {
	background-image: url('https://i.imgur.com/Dxu9XRr.jpg');
	background-size: cover;
	height: 100%;
	width: 100%;
}

.online-list {
	height: 44.5%;
	font-size: 25px;
	overflow-y: auto;
	border-bottom: 1px solid SILVER;
	text-transform: lowercase;
	font-family: 'Playfair Display', sans-serif;
	font-weight: 100;
/* 	font-style: italic; */
	color: grey;
/* 	padding: 5px; */
}

.online-today-container {
}

.online-today {
 	margin: 5px;
	margin-right: 15px;
	padding: 5px;
	padding-top: 5px;
	overflow-y: auto;
	height: 38.5px;
	text-transform: lowercase;
	background-color: var(--site-slight-grey);
	width: calc(100% - 25px);
	border: 1px solid silver;
}

.welcome-container {
	margin-right: 10px;
}



.recent-topic-1 {
	margin: 5px 0px;
	padding: 0px 0px 10px 0px;
	height: calc(100% - 20px);
	width: calc(100% - 10px);
	overflow-y: auto;
}

.recent-topic-content {
	border-bottom: 1px dotted grey;
	margin: 5px 10px 10px 10px;
	padding: 0px 5px 10px 5px;
	display: flex;
	flex-direction: column;
	align-content: space-between;
/* 	border: 1px solid black; */
}

.recent-topic-content:last-child{
	margin-bottom: 0px;
}

.recent-topic-title {
	font-family: 'Merriweather', serif;
	font-size: 18px;
	letter-spacing: -1px;
	text-transform: lowercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}

.recent-topic-author {
	text-transform: uppercase;
	letter-spacing: -1px;
	font-size: 13px;
}

.aesthetic-bar {
	border: 1px solid silver;
	background-image: url("https://i.imgur.com/GQSEYku.png");
	height: 40%;
	background-size: contain;
}

.last-post-author {
	text-transform: uppercase;
	color: var(--site-hard-blue);
	font-weight: 300;
}

.stat-board-footer {
  width: 100%;
  background-color: var(--site-black);
  height: 100px;
  display: flex;
  justify-content: flex-start;
}

.stat-footer-icon {
  color: silver;
  text-align: center;
  width: 50px;
  margin: 0px 10px;
  height: 45px;
  padding: 10px;
  padding-top: 15px;
}

.stat-footer-icon:hover,
.online-toggle:hover,
.infobar-button:hover {
  cursor: pointer;
	color: var(--site-white);
}


.credits {
  margin-top: 10px;
  text-align: center;
}

/* 

EXPEIRMENT STARTS HERE

*/

#bubble-menu {
  position: fixed;
  bottom: 20px;
  right: 0px;
  left: 20px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: var(--nav-button-color);
  transition-duration: 0.8s;
  transition-delay: 0.5s;
}

#bubble-menu.clicked {
  height: 450px;
  border-radius: 75px;
  transition-delay: 0s;
}

.bubble-menu-pic {
  width: 100%;
  border-radius: 50%;
}

#bubble-tray {
  text-align: center;
  margin-top: 15px;
  display: none;
}

#bubble-tray a {
  color: #d9d9d9;
}

#change-subaccount .forminput {
  margin: auto;
  border: transparent;
  box-shadow: none;
  background: transparent;
  font-family: "Quicksand", sans-serif !important;
}

#change-subaccount .forminput select {
  text-align-last: center;
  width: 200px;
  font-family: "Quicksand", sans-serif !important;
  margin: auto;
  background-color: transparent;
  padding: 5px;
  font-size: 15px;
  border: transparent;
  border-bottom: 3px solid silver;
  -webkit-appearance: none;
  letter-spacing: 2px;
}

#change-subaccount .forminput select:focus {
  outline-color: silver;
  outline-width: 0;
}

#change-subaccount .forminput select:hover {
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden;
  color: #fff;
  width: 100px;
  text-align: center;
  background-color: var(--site-black);
  padding: 10px 10px;
  border: 1px solid grey;
  position: absolute;
  z-index: 1;
  bottom: 50;
  left: 50;
  transition-delay: 0.2s;
	z-index: 3;
}

/* Show the tooltip text when you mouse over the tooltip container */
.stat-footer-icon:hover .tooltiptext {
  visibility: visible;
}

/*******************************************************************************
	COMMON UI
*******************************************************************************/

#ucpmenu {
  line-height: 150%;
  width: 22%;
  border: 1px solid #555;
  background-color: #efefef;
}

#ucpmenu p {
  padding: 2px 5px 6px 9px;
  margin: 0px;
}

#ucpcontent {
  background-color: #efefef;
  border: 1px solid #545454;
  line-height: 150%;
  width: auto;
}

#ucpcontent p {
  padding: 10px;
  margin: 0px;
}

/****************************************
  Table & Div Borders 
*****************************************/

.tableborder {
  background-color: #c0c0c0;
  border: 1px solid #555;
  padding: 0px;
  margin: 0;
}

.tablefill {
  background-color: #efefef;
  border: 1px solid #555;
  padding: 6px;
}

.tablepad {
  background-color: #efefef;
  padding: 6px;
}

.tablebasic {
  width: 100%;
  padding: 0;
  margin: 0px;
  border: 0px;
}

/****************************************
   Top table bars / gradient holders 
*****************************************/

.maintitle {
  background-color: #353535;
  font-weight: bold;
  padding: 8px;
  color: #fff;
}

.maintitle a:link,
.maintitle a:visited,
.maintitle a:active {
  text-decoration: none;
  color: #fff !important;
}

.maintitle a:hover {
  text-decoration: underline;
}

.plainborder {
  border: 1px solid #555;
  background-color: #efefef;
}

.pformstrip {
  background-image: url(http://files.b1.jcink.com/themes/default/gray-gradient.png);
  background-color: #d6d6d6;
  color: black;
  font-weight: bold;
  padding: 2px 5px;
  margin-top: 1px;
}

.pformleft {
  background-color: #efefef;
  padding: 6px;
  margin-top: 1px;
  width: 25%;
  border-top: 1px solid #545454;
  border-right: 1px solid #545454;
}

.pformleftw {
  background-color: #efefef;
  padding: 6px;
  margin-top: 1px;
  width: 40%;
  border-top: 1px solid #232323;
  border-right: 1px solid #232323;
}

.pformright {
  background-color: #efefef;
  padding: 6px;
  margin-top: 1px;
  border-top: 1px solid #232323;
}

.row1,
.row3,
.row2 {
  background-color: #efefef;
  padding: 5px;
}

#boardstats .row2 {
  text-align: center;
}

.darkrow1 {
  background-color: #d6d6d6;
  color: black;
}

.darkrow2 {
  background-color: #d6d6d6;
  color: black;
}

td.darkrow2 {
  display: none;
}

.darkrow3 {
  background-color: #d6d6d6;
  color: #000;
  padding: 3px;
}

.hlight {
  background-color: #efefef;
}
.dlight {
  background-color: #efefef;
}

#logostrip {
  display: none;
}

.newstext {
  display: none;
}

/* BUTTONS A'HOY */

.button-large {
  padding: 5px 12px;
  text-align: center;
  margin: 0px 5px 0px 5px;
  min-width: 75px;
  display: inline-block;
  color: #1d3557;
  background-color: rgba(217, 217, 217, 0.5);
  border: 1px solid #1d3557;
  transition-duration: 0.5s;
}

.button-large:hover {
  background-color: #d9d9d9;
}

.button-small {
  background: #800000
    url(http://files.b1.jcink.com/themes/default/red-gradient.png);
  border-radius: 3px;
  color: #ffffff;
  font-weight: bold;
  font-size: 11px;
  margin: 3px;
  padding: 4px 7px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  min-width: 50px;
  max-width: 80px;
}

.post-buttons-top {
  margin-top: 3px;
}

.button-large.closed {
  background: url(http://files.b1.jcink.com/themes/default/white-gradient.png);
  padding: 7px 12px;
  text-align: center;
  margin: 0px 5px 0px 5px;
  border: 1px solid #d8d8d8;
  color: #660000;
  font-weight: bold;
}

.codebuttons,
.textinput,
.radiobutton,
.checkbox {
  border-radius: 2px;
  background: #fff;
  border: 1px solid #545454;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 12px;
  padding: 2px;
  vertical-align: middle;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset;
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
  background: #800000
    url(http://files.b1.jcink.com/themes/default/red-gradient.png);
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
  margin: 3px;
  padding: 2px 6px;
  text-decoration: none;
  border: none;
}

.codebuttons {
  font-size: 10px;
}
/* // if('<!-- |g_id| -->' || "2" == '2') 

// m-4 staff?
// m-3 normal member
// m-2 guest */

/*T_T AHHHHHHHHHHHHHHHHHHHHHHH */

.profile-border {
  padding: 15px;
  background-color: #f7f7f7;
  border: 1px solid silver;
}

.profile-border-1 {
  background-color: var(--site-slight-grey);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.profile-area {
  display: flex;
  flex-direction: row;
  margin: 10px;
  font-size: 15px;
}

.profile-name-large {
  font-size: 50px;
  text-align: center;
  padding: 25px;
  border-bottom: 15px solid var(--site-black);
  background: var(--user-profile-color);
  color: var(--site-title);
  height: 70px;
  font-family: "Playfair Display", serif;
  width: calc(100%);
  text-transform: lowercase;
}

.profile-picture-large {
  height: 600px;
  width: 400px;
  border: 1px solid silver;
  background-image: url("https://i.imgur.com/6jkJRYl.png");
  background-size: cover;
  border: 10px solid var(--user-profile-color);
  padding: 15px;
  margin: 10px;
}

.profile-picture-border {
  border: 1px solid silver;
  margin-left: 15px;
}

.profile-picture-medium {
  border: 10px solid var(--user-profile-color);
  width: 600px;
  height: 100px;
  background-image: url("https://i.imgur.com/24ThuZ5.png");
  background-size: cover;
  /* 	background-color: silver;
	background-blend-mode: luminosity; */
}

.profile-member {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.profile-bar {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.profile-bio-area {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 10px;
  width: calc(100% - 420px);
}

.profile-box {
  margin: 0px 20px;
  width: 230px;
  padding: 20px;
}

.box-attr {
  color: var(--site-title);
  font-family: "Playfair Display", serif;
  margin: 10px 5px;
}

.box-attr span {
  background-color: var(--user-profile-color);
  padding: 10px 20px;
  font-family: "Oswald", sans-serif;
}

.box-value {
  border-bottom: 1px solid black;
  padding: 10px 5px;
}

.member-name {
  font-size: 25px;
  margin: 10px;
}

.profile-icons {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: calc(100% - 20px);
  margin-left: 20px;
  color: var(--user-profile-color);
  border-bottom: 2px solid silver;
  padding-bottom: 10px;
}

.lower-profile {
  height: 500px;
  border: 1px solid silver;
  margin: 15px;
  width: 100%;
  padding: 15px 20px;
  padding-right: 0px;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
}

.freeform-app {
  flex: 3;
  padding: 10px 0px;
  padding-right: 10px;
  overflow-y: auto;
}

.member-info {
  flex: 1;
  border-left: 1px solid silver;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px;
}

.info-title {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  padding: 10px 20px;
  color: var(--site-white);
  margin: 20px 0px;
}

.info-title span {
  padding: 10px;
  background-color: var(--user-profile-color);
}
